<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataProviders>
      <glass type="Glass.Sitecore.Mapper.CodeFirst.GlassDataProvider, Glass.Sitecore.Mapper">
        <param desc="database">$(1)</param>
      </glass>
    </dataProviders>
    <databases>
      <database id="master">
        <dataProviders>
          <dataProvider ref="dataProviders/glass" param1="$(id)" />
        </dataProviders>
      </database>
      <database id="web">
        <dataProviders>
          <dataProvider ref="dataProviders/glass" param1="$(id)" />
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>