<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=SitecoreTest;password=password;Data Source=(local)\SQLEXPRESS;Database=GlassTutorialSitecore_Core"/>
  <add name="master" connectionString="user id=SitecoreTest;password=password;Data Source=(local)\SQLEXPRESS;Database=GlassTutorialSitecore_Master"/>
  <add name="web" connectionString="user id=SitecoreTest;password=password;Data Source=(local)\SQLEXPRESS;Database=GlassTutorialSitecore_Web"/>
</connectionStrings>
